inputs @ {...}: {
    space = {
        hostName = "space";
        hostName = "1234567";
    authorizedKeyFiles = [
        ./secrets/nowhere
    ];
    asBuilder = {
        hostName = "here";
        maxJobs = 0;
        publicHostKey = "dW5kZXJ5b3VyY2FycGV0Cg==";
        speedFactor = 2;
        supportedFeatures = ["kvm"];
        sshKey = "/state/secrets/somewhere_here.pub";
        sshUser = "root";
        system = "x86-linux";
    };
    };
    common = {
        gitUserName = "me";
        gitUserEmail = "noreally@it.me";
        gitSigningKey = "insert keyrgip here";
        gitAgentSshKey = "and keygrip here too iirc";
        rootHashedPassword = "hunter2 but it's hashed";
        userHashedPassword = "hunter2 but it's hashed";
        timeZone = "Birmingham";
        latitude = 0.0;
        longitude = 0.0;
    };
    work = {
        vpn_conf = "config your/file/here.ovpn";
    };
}
